html,
body,
#desktopWrapper,
.row,
.bring,
.desktopStream,
.desktopIDE,
.desktopChat,
.mobileStream,
.mobileIDE,
.mobileChat,
#chatlioWidgetPlaceholder,
#rightWrapper,
.container,
#mobileWrapper,
.carousel.slide,
.carousel-inner{
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
#desktopWrapper{
  display: block;
}
#mobileWrapper{
  display: none;
}
.desktopStream iframe,
.mobileStream iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.desktopStream iframe{
  height: 100%;
  width: 100%;
}
#chatlioWidgetPlaceholder{
  height: 100%;
  width: 100%;
}
.desktopStream{
  background-color: yellow;
  height: 50%;
}
.desktopIDE{
  background-color: blue;
  height: 100%;
}
.desktopChat{
  background-color: red;
  height: 50%;
}
#chatlioWidgetPlaceholder{
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  background: pink;
}
.desktopStream:focus,
.desktopIDE:focus,
.desktopChat:focus{
  background-color:green;
}

/* ----- Media queries ----- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px){

  #desktopWrapper{
    display: none;
  }
  #mobileWrapper{
    display: block;
  }
  .mobileStream{
    background-color: orange;
    height: 100%;
  }
  .mobileIDE{
    background-color: purple;
    height: 100%;
  }
  .mobileChat{
    background-color: green;
    height: 100%;
  }
  #chatlioWidgetPlaceholder{
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    background: pink;
  }


/* ----- MENU TABS ----- */

  ul > li{
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav-pills > li > a{
    border-radius: 0 !important;
    color: #fff !important;
  }
  .nav>li>a:link{
    background-color: #475F6D;
    /*height: 20%;*/
  }
/*  .nav>li>a:hover{
    background-color: #475F6D !important;
  }*/












/*div:focus {
  background-color:green;
}*/
/*#myCarousel .nav a small{
    display: block;
}*/
/*div:focus {
  background-color:black;
}*/
/*#myCarousel .nav{
    background: #eee;
}*/

/*.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }*/















