

/* ---------- GENERAL SECTION ---------- */
html,
body,
#desktopWrapper,
#mobileWrapper,
#rightWrapper,
#leftWrapper,
.row,
.bring,
.desktopStream,
.desktopIDE,
.desktopChat,
.mobileStream,
.mobileIDE,
.mobileChat,
#chatlioWidgetPlaceholder,
.container,
.carousel.slide,
.carousel-inner{
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
#desktopWrapper{
  display: block;
}
#mobileWrapper{
  display: none;
}
.desktopStream iframe,
.mobileStream iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.desktopStream iframe{
  height: 100%;
}
.desktopStream{
  background-color: yellow;
  height: 50%;
}
.desktopChat{
  background-color: red;
  height: 50%;
}
.desktopStream:focus,
.desktopIDE:focus,
.desktopChat:focus{
  background-color:green;
}





/* ---------- CHAT SECTION ---------- */

#chatlioWidgetPlaceholder{
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  background: pink;
  height: 100%;
  width: 100%;
}





/* ---------- IDE SECTION ---------- */

.desktopIDE{
  background-color: blue;
  height: 100%;
}
#editor { 
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  min-width:500px;
  min-height:200px;
}
.myMarker {
  position:absolute;
  background:rgba(255, 0, 0, 1);
  z-index:20
}
.key {
  color: #657b83;
}
.number {
  color: #dc322f;
}
.string {
  color: #2aa198;
}
.null {
  color: #b58900;
}
.boolean {
  color: #cb4b16;
}
pre {
  padding: 1em 0;
  word-wrap: break-word;
}

/* this wrapper is causing white space when swiping on mobile phone */
.wrap {
  border-style: solid none none none;
  border-width: 15px;
  border-color: #073642;
  margin: 15px 0;
  padding: 0;
  width: 100%;
}

.right {
  width: auto;
  margin-top: 0;
  margin-left: 80px;
  margin-right: 0;
}
.left {     
  width: 60px;
  margin-top: 0;
  margin-left: 0;
  margin-right: -60px;
  float: left;
  text-align: right;
  padding-right: 10px;
  background-color: #073642;
}
code {
  font-family: Input, "Lucida Console", Monaco, monospace;
  font-size: 1em;
  -moz-tab-size: 4;
  -o-tab-size:   4;
  tab-size:      4;
}
.comment.docstring {
  color: #586e75;
  font-style: italic;
}
.keyword {
  color: #b58900;
}
.constant.numeric {
  color: #dc322f;
}
.constant.string {
  color: #859900;
}
.trigger {
  color: #268bd2;
}
.variable {
  color: #2aa198;
}
.symbol {
  color: #93a1a1;
  font-weight: bold;
}
.syntax {
  color: #93a1a1;
}
.not {
  color: #6c71c4;
}





/* ---------- MOBILE SECTION ---------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px){

  #desktopWrapper{
    display: none;
  }
  #mobileWrapper{
    display: block;
  }
  .mobileStream{
    background-color: orange;
    height: 100%;
  }
  .mobileIDE{
    background-color: purple;
    height: 100%;
  }
  .mobileChat{
    background-color: green;
    height: 100%;
  }
  #chatlioWidgetPlaceholder{
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    background: pink;
  }






/* ---------- MOBILE MENU TABS ---------- */

  ul > li{
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav-pills > li > a{
    border-radius: 0 !important;
    color: #fff !important;
  }
  .nav>li>a:link{
    background-color: #475F6D;
    /*height: 20%;*/
  }
/*  .nav>li>a:hover{
    background-color: #475F6D !important;
  }*/













/*#myCarousel .nav a small{
    display: block;
}*/
/*div:focus {
  background-color:black;
}*/
/*#myCarousel .nav{
    background: #eee;
}*/

/*.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }*/















