html,
body,
div,
.container{
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
}
#desktopWrapper{
  display: block;
}
#mobileWrapper{
  display: none;
}
.yellow{
  background-color: yellow;
  height: 50%;
}
iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.red{
  background-color: red;
  height: 50%;
}
.blue{
  background-color: blue;
  height: 100%;
}
/*div:focus {
  background-color:green;
}*/
/*#myCarousel .nav a small{
    display: block;
}*/
/*div:focus {
  background-color:black;
}*/
/*#myCarousel .nav{
    background: #eee;
}*/

/*.nav-pills>li[data-slide-to="0"].active a { background-color: #16a085; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #e67e22; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #2980b9; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #8e44ad; }*/





/*---------------------------*/

/* ----- Media queries ----- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px){

  #desktopWrapper{
    display: none;
  }
  #mobileWrapper{
    display: block;
  }
  .yellow{
    background-color: orange;
    height: 100%;
  }
  .red{
    background-color: purple;
    height: 100%;
  }
  .blue{
    background-color: green;
    height: 100%;
  }


/* ----- MENU TABS ----- */

  ul > li{
    text-align: center;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav-pills > li > a{
    border-radius: 0 !important;
    color: #fff !important;
  }
  .nav>li>a:link{
    background-color: #475F6D;
    /*height: 20%;*/
  }
/*  .nav>li>a:hover{
    background-color: #475F6D !important;
  }*/














